<h1>Reactive Form</h1>
<form [formGroup]="userprofileForm" (ngSubmit)="onSubmit()">
 <fieldset>
<legend>Profile Details</legend>
  <label>
    First Name:
    <input type="text"  formControlName="firstname">
    </label>
    <label>
      Last Name:
      <input type="text"  formControlName="lastname">
      </label>
      <label>
        Email:
        <input type="email"  formControlName="email_id" >
        </label>
      </fieldset>
      <br>
        <button type="submit" [disabled]="!userprofileForm.valid">Submit</button>
</form>
